

.test-text {
    font-size: 100px;
    color: black;
}

.mail-body{
    max-width: 600px;
    width: 100%;
    border: solid 1px #aaa;
    margin: 0 auto;
    font-family: Arial;
    text-align: center;
}

.mail-part{

}


.grid-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: red; }
.grid-item-2 { background-color: green;}
.grid-item-3 { background-color: blue;}
.grid-item-4 { background-color: yellow;}
.grid-item-5 { background-color: #00bb00; }
.grid-item-6 { background-color: #00aa00; }
.grid-item-7 { background-color: #009900; }
.grid-item-8 { background-color: #008800; }
.grid-item-9 { background-color: #007700; }

.viewport-container {
    display: grid;
    grid-auto-rows: 200px;
}

.viewport-item {
    margin: 20px;
    box-shadow: 0 0 2px #434343;
    padding: 20px;
}

.viewport-item--trigger-send {
    box-shadow: 0 0 2px #ff0000;
}

.viewport-item--info-sent {
    box-shadow: 0 0 2px #00ff00;
}
