<table border="0" cellpadding="0"><tr><td height="10"></td></tr><tr><td>
                                    <a style='mso-line-height-rule: exactly; border: 15px solid #ef3d42; background-color: #ef3d42; text-decoration: none; color:#fff !important;
            
                            margin-top: 10px;
                                        margin-bottom: 10px;
                        ' width='200' href="?h=59d601ca93e1579b6b3780bcbc037d36874241d8ccd9a41df310dd612b4aeaf3&amp;utm_source=1051-akinu-template-duplicate&amp;utm_medium=email&amp;utm_campaign=owlcure&amp;a=133748">
                        &nbsp;&nbsp;&nbsp;<font color="#fff">right</font>&nbsp;&nbsp;&nbsp;</a>
            
                      </td></tr><tr><td height="10"></td></tr></table>
            
            



                                            <a style='mso-line-height-rule: exactly; border: 15px solid #ef3d42; background-color: #ef3d42; text-decoration: none; color:#fff !important;
    
                                            ' width='120' style='width: 120px; padding: 10px;' href="https://www.akinu.cz/akinu-tycinky-masove-15ks/?h=59d601ca93e1579b6b3780bcbc037d36874241d8ccd9a41df310dd612b4aeaf3&amp;utm_source=1051-akinu-template-duplicate&amp;utm_medium=email&amp;utm_campaign=owlcure&amp;a=133752">
                        &nbsp;&nbsp;&nbsp;<font color="#fff">prohlédnout</font>&nbsp;&nbsp;&nbsp;</a>
